@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	::-webkit-scrollbar {
		@apply w-2;
	}
	::-webkit-scrollbar-track {
		@apply bg-zinc-900;
	}
	::-webkit-scrollbar-thumb {
		@apply w-2 hover:bg-teal-200 rounded-full bg-teal-100;
	}
	::selection {
		@apply bg-teal-700 text-neutral-100;
	}
	.circle-fuchsia {
		background-image: radial-gradient(
			circle at 50% 50%,
			hsla(297, 90%, 16%, 0.65),
			#18181b 65%
		);
		@apply absolute w-204 h-204 blur-3xl;
	}
	.circle-teal {
		background-image: radial-gradient(
			circle at 50% 50%,
			hsla(179, 84%, 10%, 0.85),
			#18181b 65%
		);
		@apply absolute w-204 h-204 blur-3xl;
	}
}

.clip {
	clip-path: polygon(
		100% 100%,
		0% 100%,
		0% 160px,
		45% 160px,
		55% 128px,
		100% 128px
	);
}
.clip-parent::before {
	/* height is 164px */
	clip-path: polygon(
		100% 132px,
		calc(55% + 4px) 132px,
		calc(45% + 4px) 100%,
		0% 100%,
		0% 160px,
		45% 160px,
		55% 128px,
		100% 128px
	);
	color: #4a044ea6;
}

.work {
	clip-path: polygon(100% 100%, 30% 100%, 20% 100%, 0% 100%, 0% 0%, 100% 0%);
	transition: clip-path 500ms ease;
}
.work-parent:hover .work {
	clip-path: polygon(100% 60%, 25% 60%, 10% 100%, 0% 100%, 0% 0%, 100% 0%);
}
.work-parent:hover .work ~ div h3 {
	opacity: 1;
	transform: translateX(0);
}
.work-parent:hover .work ~ div p {
	opacity: 1;
	transform: translateX(0);
}
@layer components {
}
